body {
    margin: 0;
    padding: 0;
    text-align: center;
}

.container {
    width: 570px;
    margin: 0 auto;
}

.img-container {
    margin: 0 auto;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    overflow: hidden;
}

.img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 20% 20%;
}