body {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 1.25rem;
    font-weight: 300;
}

.container {
    width: 570px;
    margin: 0 auto;
}

/* typography */

h1, h2 {
    font-weight: 300;
}

h1{
   font-size: 3.9rem; 
}

h2{
   font-size: 2.6rem; 
}

h3{
    font-size: 2.25rem;
    font-weight: 900;
}

.small-text{
    font-size: 1rem;
}

span {
    display: block;
    font-weight: 900;
}

h1 span {
    font-size: 5rem;
}

h2 span{
    font-size: 3.9rem;
}

/* links */

a{
    color: #99D930;
}

a:hover,
a:focus {
    color: #131313;
}

/* image styling */

.img-container {
    margin: 0 auto;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    overflow: hidden;
}

.img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 20% 20%;
}

/* layout */

section{
    padding: 100px 0;
}

.section-one{
    background-color: #D7D7D7;
}
.section-two{
    background-color: #FFEAEA;
}
.section-three{
    background-color: #EAF9FF;
}