body {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 1.25rem;
    font-weight: 300;
}

.container {
    width: 570px;
    margin: 0 auto;
}

/* typography */

h1, h2 {
    font-weight: 300;
}

h1{
    margin-top: 0;
    font-size: 3.9rem; 
}

h2{
    margin-top: 0;
    font-size: 2.6rem; 
    border-top: 1px solid #c4c4c4;
    border-bottom: 1px solid #c4c4c4;
    padding: 20px 0;
    margin-bottom: 20px;
}

h3{
    font-size: 2.25rem;
    font-weight: 900;
    margin-bottom: 0;
}

p{
    margin-bottom: 0;
}

.small-text{
    margin-top: 5px;
    font-size: 1rem;
    margin-bottom: 30px;
}

span {
    display: block;
    font-weight: 900;
    color: #99D930;
}

.name, time{
    display: inline;
    color: #99D930;
    font-weight: 400;
}



h1 span {
    font-size: 5rem;
}

h2 span{
    font-size: 3.9rem;
}

/* links */

a{
    color: #99D930;
}

a:hover,
a:focus {
    color: #131313;
}

/* buttons */

.btn {
    display: inline-block;
    font-weight: 900;
    padding: 10px 20px;
    margin-top: 20px;
    border: none;
    color: #252525;
    background-color: #99D930;
    text-decoration: none;
}

.btn:hover,
.btn:focus {
    color: #fff;
    background-color: #252525;
}

/* image styling */

.img-container {
    margin: 0 auto;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    overflow: hidden;
}

.img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 20% 20%;
}

/* layout */

section, header{
    padding: 100px 0;
}

.dark-section {
    background-color: #252525;
    color: #FFF;
}

.white-section {
    background-color: #FFF;
    color: #252525;
}